html { padding: 0 !important; margin: 0 !important; overscroll-behavior: none; overflow: hidden; /*background: transparent*/ }
body { padding: 0 !important; margin: 0 !important; overscroll-behavior: none; overflow: hidden; /*background: transparent*/ }
#unity-container {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 !important;
    transform: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    inset: -2px; 
}
#unity-container.unity-desktop { position: fixed; width: 100%; height: 100% }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
    height: 100%;
    display: block;
    /*background: transparent !important;*/
    inset: -2px;
}
#unity-canvas:focus,
#unity-canvas:focus-visible {
    outline: none !important;
}
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
.unity-desktop #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#background
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('screenshot.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#unity-custom-loading-screen{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*background: white;*/
    background-image: url('screenshot.png');
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#custom-logo-background{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*background: white;*/
    background-image: url('screenshot.png');
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#progress-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    background: url('logo.png') no-repeat center;
    width: 400px;
    height: 400px;
    background-size: contain;
}

#unity-custom-loader-bar{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: none;
}
#loader-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

